@model TheHouseOfTheRisingBuns.Models.Recipe

@{
    ViewData["Title"] = "Edit";
}

@*welcome header*@
<div class="jumbotron">
    <h1 class="display-3">Edit Recipe</h1>
    <h5 class="lead">Edit the field below as required to update the database.  Just hit the Save button to apply changes!</h5>

</div>
<hr />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Recipes" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeThumb" class="control-label">Recipe Image</label>
                @*<input class="form-control" type="file" name="pic" accept="image/*" />*@
                <span asp-validation-for="RecipeThumb" class="text-danger"></span>
                <input type="file" name="files" />
            </div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label">Category</label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servings" class="control-label"></label>
                <input asp-for="Servings" class="form-control" />
                <span asp-validation-for="Servings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredients" class="control-label"></label>
                <input asp-for="Ingredients" class="form-control" />
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Method" class="control-label"></label>
                <input asp-for="Method" class="form-control" />
                <span asp-validation-for="Method" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="submit" value="Save" class="btn btn-default btn btn-primary btn-lg" role="button" />
                <a asp-action="Index" class="btn btn-primary btn-lg" role="button">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
